.card-page {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    .card-page__img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .statistics {
        display: inline-flex;
        align-items: unset;
        color: white;
        padding: 0 5px;
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.185);
        border-radius: 20px;
        .comments-margin {
            padding-left: 5px;
        }
    }
    .photo-information {
        position: absolute;
        top: 0;
        padding: 10px 30px;
        margin-top: 30px;
        color: white;
        background: rgba(0, 0, 0, 0.473);
        border-radius: 10px;
    }
}