.header {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: #06a1b9;
    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .filterLikes,
        .filterComments {
            margin: 10px;
            min-width: 100px;
            padding: 5px 20px;
            text-align: center;
            background: #fff;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                box-shadow: 4px 4px 20px 0px white;
            }
        }
    }
    .inputFilter {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 5px 10px;
        border-radius: 20px;
        &:focus {
            outline: 0;
            outline-offset: 0;
        }
    }
}